img {
  max-width: 100%;
}
.QR{
  border-radius:20px;
}
body{
  background-color:hsl(212, 45%, 89%)
}
.large-box{
  margin-top:50px;
  margin-left:100px;
  margin-right:100px;
  margin-bottom:100px;
  padding:20px;
  border-radius:20px;
  background-color:hsl(0, 0%, 100%)
  }
  .first-p{
    
    color: hsl(218, 44%, 22%);
  }
  .sec-p{
    color:hsl(220, 15%, 55%);
    font-size:15px;
  }
  @media(min-width:720px){
.large-box{
  width:250px;
  margin:0 auto ;
  margin-top:60px;
 
}

  }